  body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #180838;
    color: white;
  }
/**/
/* Menú */
  header{
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
  }

  .menu-ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0f012c;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  ul{
    list-style: none;
  }

  .menu-ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    height: 100%;
    font-size: 20px;
  }

  .menu-ul li a:hover{
    background-color: #F0007B;
  }

  .menu-ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: #180838;
    padding: 0px;
  }

  .menu-ul li:hover > ul{
    display: block;
  }

  .menu-ul li ul li{
    position: relative;
  }
  /**/

  /*Inicio*/
  .contenedor-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    height: 100vh;
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ) ,url("/img/img-index.jpg");
    background-size: cover;
    background-position: center;
  }

  .centrado{
    font-size: 60px;
    text-align: center;
    color: white;
  }
  /**/

/* Equipos */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 50px;
    gap: 20px;
  }

  .card {
  /* Add shadows to create the "card" effect */
    background-image: linear-gradient(163deg, #FF11CE 0%, #27a2e9 100%);
    border-radius: 20px;
    transition: all .3s;
  }

  .card2 {
    background-color: #22152C;
    border-radius:0;
    transition: all .2s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(244, 247, 245, 0.61);
  }

  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


/* Popup de equipos 
clase overlay que hará el efecto modal. El truco consiste en poner fija la posición de la capa 
y sus 4 direcciones en 0. La propiedad visibility estará en hidden. La opacidad será 0 inicialmente, 
haciendo una simple transición de medio segundo.
*/
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

/* a pseudo clase target que funciona cuando un elemento está activo, como en este caso la clase overlay. 
Lo que haremos será simplemente poner la propiedad visibility en visible, y regresar la opacidad en 1.
*/
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  #popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(240, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }

  #cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  #popupBody2{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(241, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }

  #popupBody3{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(241, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }

  #popupBody4{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(241, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }

  #popupBody5{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(241, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }

  #popupBody6{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: rgb(241, 0, 123);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }



/* Juegos */
  .wrapper-juegos {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-8deg);
  }

  /* hover juegos */
  .tooltip {
  position: static;
  }

  .tooltip .tooltiptext {
  visibility: hidden;
  width: 33%;
  background-color: #F0007B;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* posición de tooltip */
  position: absolute;
  z-index: 1;
  }

  .tooltip:hover .tooltiptext {
  visibility: visible;
  }

  .img-juegos {
    width: 446px;
    height: 350px;
    object-fit: contain;
  }


  
/* Contactos */

  .cont {
    padding: 20px;
  }

  .icons {
    height: 50px;
    width: 50px;
    padding-right: 10px;
  }



  